* {
  @apply tracking-xl;
}

img {
  @apply w-full;
}

.font-serif {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.text-main {
  color: rgb(40, 42, 38);
}

.bg-secondary\/90 {
  background-color: rgb(40 42 38 / 0.9);
}

.bbccc {
  border-bottom: 1px solid #ccc;
}
.pb125 {
  padding-bottom: 1.25em;
}

.w-8rem {
  width: 8rem;
}
.w-10rem {
  width: 10rem;
}
/* Google Mapを囲う要素 */
.map {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 75%; /* 比率を4:3に固定 */
}

/* Google Mapのiframe */
.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg-main {
  --tw-bg-opacity: 1;
  background-color: rgb(40 42 38 / var(--tw-bg-opacity));
}

.bg-cta {
  --tw-bg-opacity: 1;
  background-color: rgb(32 102 89 / var(--tw-bg-opacity));
}

.aria-selected\:bg-secondary[aria-selected="true"] {
  --tw-bg-opacity: 1;
  background-color: rgb(40 42 38 / var(--tw-bg-opacity));
}
