---
import { Picture } from "@astrojs/image/components";
import UnderPageLayout from "@layouts/UnderPageLayout.astro";
---

<UnderPageLayout mainLabel="SHOP" subLabel="店舗情報" title="店舗情報">
  <p>
    RelaxCafeへようこそ。私たちは都会の喧騒から一歩離れ、心地よい時間を過ごせる空間を提供しています。
  </p>
  <div class="mt-5 lg:mt-10">
    <Picture
      src={import("@images/shop/basic.jpg")}
      widths={[320, 640, 960, 1280, 1920]}
      aspectRatio={1920 / 1280}
      width={640}
      height={426}
      sizes="60vw"
      alt=""
    />
  </div>
  <dl
    class="mt-10 lg:mt-16 [&_dt:not(:first-child)]:mt-5 [&_dt]:text-lg [&_dt]:font-extrabold"
  >
    <dt>住所:</dt>
    <dd>
      〒156-0052<br />東京都世田谷区経堂１-6-10
      HISAWAビル202（小田急線経堂駅徒歩3分）
    </dd>
    <dt>営業時間:</dt>
    <dd>
      平日: 10:00 - 17:00（カット最終受付16:00）<br />土日: 9:00 -
      17:00（カット最終受付16:00）
    </dd>
    <dt>定休日:</dt>
    <dd>月曜日・火曜日</dd>
    <dt>アクセス:</dt>
    <dd>
      小田急線経堂駅南口を出て目の前の道なりをまっすぐお進みください。左手のスパイスワラを過ぎると郵便ポストがございます。ポストの奥隣に階段がございますので、お上がりいただければCoquetteがございます。
      <div class="mt-5 lg:mt-10">
        <Picture
          src={import("@images/shop/map.png")}
          widths={[320, 640, 960, 1280, 1920]}
          aspectRatio={1920 / 1280}
          width={640}
          height={455}
          sizes="60vw"
          alt=""
        />
      </div>
    </dd>
    <dt>支払い方法:</dt>
    <dd>Visa／Mastercard／JCB／American Express／UC</dd>
    <dt>連絡先:</dt>
    <dd>
      Tel:
      <a class="underline" href="tel:+03-3439-7778">03-3439-7778</a>
      <br />Email:
      <a class="underline" href="mailto:info@relaxcafe.sample.com">
        info@relaxcafe.com
      </a>
    </dd>
  </dl>
</UnderPageLayout>
