---
import type { News } from "src/types/microcms/news";

import { Picture } from "@astrojs/image/components";

import Layout from "@layouts/Layout.astro";
import TextImage from "@components/TextImage.astro";
import FormattedDate from "@components/FormattedDate.svelte";
import InternalAnchor from "@components/InternalAnchor.svelte";
import { client } from "@libs/microcms";

import mainTextImage from "@images/top/main-text.svg";
import aboutTextImage from "@images/top/about-text.svg";
import servicesTextImage from "@images/top/services-text.svg";
import shopTextImage from "@images/top/shop-text.svg";
import newsTextImage from "@images/top/news-text.svg";

const { contents: news } = await client.getList<News>({
  endpoint: "news",
  queries: { limit: 3, fields: "id,title,thumbnail,createdAt,publishedAt" },
});
---

<Layout>
  <div class="relative">
    <div
      class="flex w-11/12 flex-col items-start self-end sm:absolute sm:right-0 sm:top-1/2 sm:z-10 sm:-mt-5 sm:w-[45%] sm:-translate-y-1/2 sm:items-center lg:w-2/5"
    >
      <TextImage {...mainTextImage} alt="" class="animate w-full" />
      <h1
        class="animate flex flex-col items-start pl-6 sm:items-center sm:pl-0 sm:text-sm lg:text-lg"
      >
        <span>大人女性の疲れを癒す</span>
        <span>プライベートサロン</span>
      </h1>
    </div>

    <div class="relative mt-8 w-11/12 sm:mt-0 sm:w-7/12 md:w-3/5 lg:w-2/3">
      <Picture
        src={import("@images/top/main.png")}
        widths={[800, 1200, 1600]}
        width={1026}
        height={660}
        loading="eager"
        sizes="66.666vw"
        alt=""
        class="animate"
      />
      <div
        class="absolute -right-6 bottom-2/3 flex sm:-bottom-8 sm:left-2/3 sm:right-auto sm:block lg:-bottom-12 xl:-bottom-16"
      >
        <div class="h-px w-6 bg-white sm:h-8 sm:w-px lg:h-12 xl:h-16"></div>
        <div class="h-px w-6 bg-main sm:h-8 sm:w-px lg:h-12 xl:h-16"></div>
      </div>
    </div>
  </div>

  <section
    class="relative mt-20 sm:mr-10 sm:mt-28 sm:flex md:mt-28 lg:mr-24 lg:mt-32 xl:mr-40 xl:mt-40 2xl:mt-52"
  >
    <div class="animate sm:relative sm:z-10 sm:flex-1">
      <TextImage
        {...aboutTextImage}
        class="ml-6 w-[12.5rem] origin-bottom-left scale-75 drop-shadow-[0_0_24px_rgba(255,255,255,0.24)] sm:ml-10 md:ml-14 md:scale-90 lg:ml-28 lg:scale-100 xl:ml-44"
        alt=""
      />
      <h2
        class="animate -mt-1.5 mr-10 flex flex-col items-start bg-secondary/90 py-8 pl-6 text-white sm:-mr-8 sm:-mt-2 sm:py-10 sm:pl-10 sm:pr-8 md:py-14 md:pl-14 lg:-mr-12 lg:py-16 lg:pl-28 lg:pr-12 xl:pl-44"
      >
        <span
          class="font-english text-xl font-extrabold sm:text-2xl lg:text-3xl"
          >About Us</span
        >
        <span>隠れ家プライベートサロン</span>
      </h2>
      <p
        class="animate py-8 pl-6 pr-10 sm:pb-0 sm:pl-10 sm:pr-6 sm:pt-6 md:pl-14 md:pr-10 lg:pl-28 lg:pr-16 lg:pt-12 xl:pl-44"
      >
        経堂から徒歩3分、商店街の一角にあるCoquetteは、大人女性を中心に、お子様連れや学生さんなど、幅広いお客様にご来店いただいております。
        <br /><br />
        アンティーク風インテリアでシンプルにまとめられた居心地の良い店内。スパのリピート率も高く、頭皮でお悩みの方&お疲れの方におすすめです。
        <br /><br />
        下北沢の実力派サロンでの10年以上のマネージャー経験を生かし、そこで培った高い技術力で1人ひとりの魅力を引き出します。みなさまのご来店をお待ちしております。
      </p>
    </div>
    <div class="animate pl-6 sm:w-1/3 sm:max-w-none sm:pl-0 md:w-2/5">
      <Picture
        src={import("@images/top/about.png")}
        widths={[480, 960, 1440]}
        width={468}
        height={651}
        sizes="30rem"
        alt=""
      />
    </div>
  </section>

  <section
    class="animate relative mt-20 sm:ml-10 sm:mt-20 sm:flex md:mt-28 lg:ml-28 lg:mt-32 xl:ml-44 xl:mt-40 2xl:mt-52"
  >
    <div
      class="animate sm:relative sm:z-10 sm:order-2 sm:-mt-10 sm:flex-1 md:-mt-2"
    >
      <TextImage
        {...servicesTextImage}
        class="ml-6 w-[16.625rem] origin-bottom-left scale-75 drop-shadow-[0_0_24px_rgba(255,255,255,0.24)] sm:ml-10 md:scale-100 lg:ml-16"
        alt=""
      />
      <h2
        class="animate md:pl- -mt-1.5 mr-10 flex flex-col items-start bg-secondary/90 py-8 pl-6 text-white sm:-ml-8 sm:-mt-2 sm:mr-0 sm:p-10 sm:pl-14 md:p-14 md:pl-[4.5rem] lg:-ml-12 lg:py-16 lg:pl-28 lg:pr-24 xl:pr-40"
      >
        <span
          class="font-english text-xl font-extrabold sm:text-2xl lg:text-3xl"
          >Our Concept</span
        >
        <span>Coquetteのコンセプト</span>
      </h2>
      <p
        class="animate py-8 pl-6 pr-10 sm:pb-0 sm:pl-6 sm:pr-10 sm:pt-6 md:pl-10 md:pr-14 lg:pl-16 lg:pr-24 lg:pt-12 xl:pr-40"
      >
        <span class="font-extrabold"
          >1人ひとりの魅力を引き出すスタイルをご提案</span
        ><br /><br />
        Coquetteではお客様1人ひとりのライフスタイルを丁寧にカウンセリングしてから施術に入り、"似合うスタイル"をご提案しております。自宅で扱いやすいスタイルに仕上げ、その場限りでおわらない"これからの髪まで考えたヘアプラン"をご案内いたします。
        <br /><br />
        ヨーロッパの代表的なオーガニック認証機関であるICEA(イチェア)の厳しい基準をクリアしたヴィラロドラをはじめ、商材にもこだわったサービスをご提供しております。<br
        /><br />
      </p>
    </div>
    <div class="animate pl-6 sm:w-5/12 sm:pl-0 md:w-1/2 lg:w-[45%]">
      <Picture
        src={import("@images/top/services.png")}
        widths={[480, 960, 1440]}
        width={632}
        height={569}
        sizes="30rem"
        alt=""
      />
    </div>
  </section>

  <section
    id="shop"
    class="relative mt-40 bg-secondary/90 sm:mr-10 sm:mt-28 md:mt-28 lg:mr-0 lg:mt-32 lg:flex xl:mr-0 xl:mt-40 2xl:mt-52"
  >
    <div class="animate sm:relative sm:z-10 lg:flex-1">
      <TextImage
        {...shopTextImage}
        class="absolute left-10 top-1 ml-6 w-[12.5rem] origin-bottom-left -translate-y-full scale-75 drop-shadow-[0_0_24px_rgba(255,255,255,0.24)] sm:ml-10 md:ml-14 md:scale-90 lg:ml-28 lg:scale-100 xl:ml-44"
        alt=""
      />
      <!--h2
        class="animate -mt-1.5 mr-10 flex flex-col items-start bg-secondary/90 py-8 pl-6 text-white sm:-mr-8 sm:-mt-2 sm:py-10 sm:pl-10 sm:pr-8 md:py-14 md:pl-14 lg:-mr-12 lg:py-16 lg:pl-28 lg:pr-12 xl:pl-44"
      >
        <span
          class="font-english text-xl font-extrabold sm:text-2xl lg:text-3xl"
          >About Us</span
        >
        <span>隠れ家プライベートサロン</span>
      </h2-->
      <div
        class="animate py-8 pl-6 pr-10 sm:pb-0 sm:pl-10 sm:pr-6 sm:pt-6 md:pl-14 md:pr-10 lg:pl-28 lg:pr-16 lg:pt-12 xl:pl-44"
      >
        <dl
          class="animate mb-5 mt-5 sm:mb-20 lg:mt-5 [&_dt:not(:first-child)]:mt-5 [&_dt]:text-lg [&_dt]:font-extrabold"
        >
          <div class="list">
            <dt>住所:</dt>
            <dd>
              〒156-0052<br />東京都世田谷区経堂１-6-10
              HISAWAビル202（小田急線経堂駅徒歩3分）<br />
              <a
                href="https://maps.app.goo.gl/DsRYEWp6McXJDe9n6"
                class=""
                target="_blank">→ google mapで見る</a
              >
            </dd>
          </div>
          <div class="list">
            <dt>営業時間:</dt>
            <dd>
              平日: 10:00 - 17:00（カット最終受付16:00）<br />土日: 9:00 -
              17:00（カット最終受付16:00）
            </dd>
          </div>
          <div class="list">
            <dt>定休日:</dt>
            <dd>月曜日・火曜日</dd>
          </div>
          <div class="list">
            <dt>アクセス:</dt>
            <dd>
              小田急線経堂駅南口を出て目の前の道なり（農大通り）をまっすぐお進みください。左手のスパイスワラを過ぎると郵便ポストがあり、その奥隣にある青色の建物の階段を登った２階です。
            </dd>
          </div>
          <div class="list">
            <dt>連絡先:</dt>
            <dd>
              Tel:
              <a class="underline" href="tel:+03-3439-7778">03-3439-7778</a>
              <!--br />Email:
        <a class="underline" href="mailto:info@relaxcafe.sample.com">
          info@relaxcafe.com
        </a-->
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="animate w-full pb-20 pl-6 sm:max-w-none sm:pl-14 lg:w-1/2">
      <div class="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3242.14612450153!2d139.6363847!3d35.6487713!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018f396ea43b14f%3A0xdfa9c52d488a5f1e!2zQ29xdWV0dGUo44Kz44Kx44OD44OIKQ!5e0!3m2!1sja!2sjp!4v1739095859221!5m2!1sja!2sjp"
          width="600"
          height="450"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        >
        </iframe>
      </div>
      <!--Picture
        src={import("@images/top/about.png")}
        widths={[480, 960, 1440]}
        width={468}
        height={651}
        sizes="30rem"
        alt=""
      /-->
    </div>
  </section>

  <section
    class="animate relative mt-40 bg-secondary/90 py-8 text-white sm:mt-64 md:mt-[22.5rem] lg:py-16"
  >
    <TextImage
      {...newsTextImage}
      class="absolute left-10 top-1 w-32 -translate-y-full drop-shadow-[0_0_24px_rgba(255,255,255,0.24)] md:left-20 md:w-32 lg:left-40 lg:w-40"
      alt=""
    />
    <div class="pl-10 sm:flex sm:justify-between md:pl-20 lg:pl-40">
      <h2 class="mr-5 flex flex-none flex-col md:mr-10 lg:mr-20">
        <span class="font-english text-xl font-extrabold lg:text-3xl"
          >What's new</span
        >
        <span class="text-sm sm:text-base">新着情報</span>
      </h2>
      <ul
        class="mt-8 grid flex-1 grid-cols-2 gap-8 sm:-mt-48 lg:grid-cols-3 xl:-mt-64"
      >
        {
          news.map(({ id, title, thumbnail, publishedAt, createdAt }) => (
            <li class="animate">
              <a href={`/news/${id}`} class="block">
                <div>
                  <Picture
                    src={thumbnail.url}
                    widths={[320, 640, 960]}
                    aspectRatio={1}
                    width={320}
                    height={320}
                    sizes="20rem"
                    alt=""
                  />
                </div>
                <FormattedDate
                  class="mt-2 font-english text-sm font-extrabold sm:mt-4 sm:text-base"
                  date={publishedAt ?? createdAt}
                />
                <h3 class="text-xs sm:mt-2 sm:text-sm">{title}</h3>
              </a>
            </li>
          ))
        }
      </ul>
    </div>

    <div class="mt-10 flex justify-center sm:mt-16">
      <InternalAnchor href="/news/1">MORE</InternalAnchor>
    </div>
  </section>
</Layout>
