---
import UnderPageLayout from "@layouts/UnderPageLayout.astro";

import MenuTabsPreview from "@components/pages/menu/MenuTabsPreview.svelte";
---

<UnderPageLayout mainLabel="MENU" subLabel="メニュー" title="メニュー" noindex>
  <p>
    Coquetteでは自宅で扱いやすいスタイルを基本にご提案させていただいております。カット技術はもちろん商材にもこだわりあり。<br
    />リピート率の高いスパメニューは、頭皮でお悩みの方&お疲れの方におすすめです！
  </p>
  <MenuTabsPreview client:only />
</UnderPageLayout>
